@model UsingModalLogin.Models.ResetPasswordViewModel

@{
    ViewBag.Title = "Reset Password";
    Layout = "~/Views/Shared/_KmbLayout.cshtml";
}

<h2>Reset Password</h2>
<hr />

<div class="row">
    @Html.Partial("_KmbResetPasswordPartial", Model)
</div>


<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>